.about {
  background-color: #FAC697;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #550252;
  padding: 0 100px;
}

.imageAbout {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  background-image: url('../../assets/BarbaraReis.png');
  background-size: cover;
}

.textAbout {
  width: 100%;
  padding: 50px 40px;
}

.textAbout h2 {
  margin-bottom: 20px;
}

.textAbout p {
  margin-bottom: 7px;
}