.about {
  background-color: #FAC697;
  width: 100%;
  display: flex;
  font-weight: bold;
  color: #550252;
}

.imageAbout {
  width: 100%;
  height: 400px;
  display: flex;
  background-image: url('../../assets/BarbaraReis.png');
  background-size: cover;
}

.textAbout {
  width: 100%;
  padding: 50px 40px;
}

.textAbout h2 {
  margin-bottom: 20px;
}

.textAbout p {
  margin-bottom: 7px;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  
}