.simulation {
  background-color: #F81C59;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.imgFrete {
  background-image: url('../../assets/arrows.png');
  background-size: cover;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}

.formFrete {
  height: 100%;
  width: 500px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  color: #FFF5ED;
  padding-top: 40px;
}

.formFrete h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.formFrete label {
  font-size: 18px;
  letter-spacing: 1px;
}

.cep {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 5px;
  margin-bottom: 10px;
}

.cep input {
  height: 20px;
  width: 250px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

.cep input:hover{
  border: 1px solid #550252;
  transition: 0.5s;
}

.erroCep {
  color: #FFF5ED;
  margin-top: -20px;
  font-size: 18px;
  letter-spacing: 1px;
}

.inputQtd {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 5px;
  margin-bottom: 10px;
}

.inputQtd input {
  height: 20px;
  width: 250px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

.inputQtd input:hover{
  border: 1px solid #550252;
  transition: 0.5s;
}

.opcoesEnvio {
  display: flex;
  gap: 20px;
  margin: 5px 0;
}

.opcoesEnvio label {
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 1px;
}

.opcoesEnvio input {
  cursor: pointer;
  margin-right: 5px;
}

.resultado {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  letter-spacing: 1px;
}

.endereco{
  margin-bottom: 20px;
  display: flex;
}

.endereco p {
  max-width: 410px;
}

button {
  height: 40px;
  width: 250px;
  border: none;
  border-radius: 10px;
  background-color: #550252;
  color: #FFF5ED;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 7px;
}

button:active {
  background-color: #FAC697;
  border: 2px solid #550252;
  color: #550252;
  font-weight: bold;
  transition: 0.5s;
}

button:hover {
  background-color: #FAC697;
  color: #550252;
  font-weight: bold;
  transition: 0.5s;
}