.simulation {
  background-image: url('https://res.cloudinary.com/dqk535bkf/image/upload/v1766162661/BgSimulationMobile_fzkkui.png');
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgFrete {
  display: none;
}

.formFrete {
  background-color: #F81C59;
  height: 500px;
  width: 330px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: #FFF5ED;
  padding:40px 30px;
  gap: 10px;
}

.formFrete h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.formFrete label {
  font-size: 18px;
  letter-spacing: 1px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.cep {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 5px;
  margin-bottom: 10px;
}

.cep input {
  height: 20px;
  width: 250px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

.cep input:hover{
  border: 1px solid #550252;
  transition: 0.5s;
}

.erroCep {
  color: #FFF5ED;
  margin-top: -20px;
  font-size: 18px;
  letter-spacing: 1px;
}

.inputQtd {
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 5px;
  margin-bottom: 10px;
}

.inputQtd input {
  height: 20px;
  width: 250px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

.inputQtd input:hover{
  border: 1px solid #550252;
  transition: 0.5s;
}

.opcoesEnvio {
  display: flex;
  gap: 20px;
  margin: 5px 0;
}

.opcoesEnvio label {
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 1px;
}

.opcoesEnvio input {
  cursor: pointer;
  margin-right: 5px;
}

.resultado {
  display: flex;
  letter-spacing: 1px;
}

.tituloResult{
  font-size: 18px;
  font-weight: bold;
}

.prazoEntrega{
  font-size: 14px;
  font-weight: normal;
}

.valorFrete {
  font-size: 18px;
  font-weight: normal;
}

.botaoCalcular {
  height: 40px;
  width: 250px;
  border: none;
  border-radius: 10px;
  background-color: #550252;
  color: #FFF5ED;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}

.botaoCalcular:active {
  background-color: #FAC697;
  border: 2px solid #550252;
  color: #550252;
  font-weight: bold;
  transition: 0.5s;
}

.botaoCalcular:hover {
  background-color: #FAC697;
  color: #550252;
  font-weight: bold;
  transition: 0.5s;
}

.whatsappButton{
  height: 35px;
  width: 250px;
  border: none;
  border-radius: 10px;
  background-color: #369452;
  color: #FFF5ED;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 7px;
}

.whatsappButton:active {
  background-color: #296d3e;
  border: 2px solid #225733;
  color: #FAC697;
  font-weight: bold;
  transition: 0.5s;
}

.whatsappButton:hover {
  background-color: #FAC697;
  color: #225733;
  font-weight: bold;
  transition: 0.5s;
}

@media (min-width: 700px) and (max-width: 1099px) {
  .simulation {
    background-image: url('https://res.cloudinary.com/dqk535bkf/image/upload/v1766011159/BgSimulation_2_ouq4xo.png');
    background-size: cover;
  }

  .formFrete {
    margin-left: auto;
    background-color: #F81C59;
  }
}


@media (min-width: 1100px) {
  .simulation {
    background-image: url('https://res.cloudinary.com/dqk535bkf/image/upload/v1766010558/BgSimulation_r9syab.png');
    background-size: cover;
  }

  .formFrete {
    margin-left: auto;
    margin-right: 70px;
    background-color: #F81C59;
  }
}